altair==5.0.1
attrs==23.1.0
blinker==1.6.2
cachetools==5.3.1
certifi==2023.7.22
charset-normalizer==3.2.0
click==8.1.6
colorama==0.4.6
contourpy>=1.0.6
cycler==0.11.0
fonttools>=4.0.0,<4.43.0
gitdb==4.0.10
GitPython==3.1.32
idna==3.4
imbalanced-learn==0.11.0
importlib-metadata
Jinja2==3.1.2
joblib==1.3.2
jsonschema
jsonschema-specifications
kiwisolver==1.4.4
markdown-it-py
MarkupSafe==2.1.3
matplotlib
mdurl==0.1.2
numpy
packaging==23.1
panda
Pillow
plotly
protobuf
pyarrow
pydeck
Pygments
Pympler
pyparsing
python-dateutil
pytz
pytz-deprecation-shim
referencing
requests==2.31.0
rich==13.5.2
scikit-learn
scipy
seaborn
six
smmap
streamlit
tenacity
threadpoolctl
toml
toolz
tornado
typing_extensions
tzdata
tzlocal
urllib3
validators
watchdog
xgboost
zipp
